@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 0px;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a:hover {
  opacity: 0.6;
  text-decoration: none;
}

.invisible {
  display: none;
}

.cursos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dee2e6;
  padding: 4.8rem calc((100% - 1296px) / 2);
}

.nav {
  padding: 20px 0;
  position: relative;
  width: 100%;
  top: 0;
  background-color: #ffffff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  z-index: 1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
}

.nav--bg {
  background: white;
  z-index: 9999;
}

.flex--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container--menu {
  width: 76%;
}

.logo--nav {
  width: 130px;
  margin-right: 35px;
}

.menu li a {
  padding: 0 15px;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
  text-decoration: none;
}

.botao-nav {
  background-color: #18497C;
  padding: 15px 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  -webkit-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.281);
          box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.281);
  text-transform: uppercase;
}

.botao-nav:hover {
  background-color: #2381e6;
}

.flex--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.header--titulo {
  font-size: 180px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  padding: 0px;
  margin-top: 150px;
  border: 0px;
  opacity: 0.75;
  line-height: 1;
  text-shadow: 6px 6px 3px rgba(0, 0, 0, 0.281);
  z-index: 0;
}

.header--subtitulo {
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 400;
  padding-bottom: 15px;
  padding: 0 15px;
  border: 0px;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.247);
}

.line-subtitle {
  border-top: 1px solid #fff;
  width: 150px;
}

.btn--header {
  font-size: 25px;
  padding: 20px 60px;
  margin: 30px;
}

/* Vars */
/* Mixins*/
/* Botão*/
a.btn-saiba-mais {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  left: 235%;
  display: inline-block;
  margin: 1em 1em 1em 21em;
  padding: .6em;
  font-family: Arial;
  font-size: 26px;
  font-size: 1.625rem;
  text-decoration: none;
  outline: none;
  color: #fff;
  border-radius: 3px;
  background-color: #18497c;
  -webkit-box-shadow: 0 0 0 -2px #1e76c9, 0 0 0 -1px #18497c;
  box-shadow: 0 0 0 -2px #1e76c9, 0 0 0 -1px #18497c;
  border: none;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

a.btn-saiba-mais:hover, a.btn-saiba-mais:focus {
  -webkit-box-shadow: 0 0 0 2px #1e76c9, 0 0 0 4px #143c67;
          box-shadow: 0 0 0 2px #1e76c9, 0 0 0 4px #143c67;
  -webkit-transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  -webkit-animation: gelatine 0.5s 1;
  animation: gelatine 0.5s 1;
}

/* Keyframes*/
@-webkit-keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}
@keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}

.rodape {
  background-color: #18497c;
  color: #ffffff;
  padding: 20px;
}

.rodape2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.rodape3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rede-sociais {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rede-sociais a {
  padding: 10px;
}

.rede-sociais img {
  width: 25px;
}

.rede-sociais img:hover {
  background-color: #2381e6;
  cursor: pointer;
}

.header--bgc {
  background-image: url("../../Img/cursos/logocurso.png");
  height: 50vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 135px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 900px;
  padding: 50px;
  margin: 40px auto;
  text-align: center;
  -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.cards div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  margin: 20px;
  border-right: solid 1px grey;
  border-bottom: solid 1px grey;
  -webkit-transition: 1s;
  transition: 1s;
}

.cards div:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.cards div a img {
  width: 150px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 293px;
  width: 600;
  margin: 500px auto;
  margin-top: 20px;
  position: relative;
}

.slider li {
  list-style: none;
  position: absolute;
}

.slider img {
  margin: auto;
  height: 100%;
  width: 100%;
  vertical-align: top;
}

.slider input {
  display: none;
}

.slider label {
  background-color: #000;
  bottom: 10px;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10;
}

.slider li:nth-child(1) label {
  left: 10px;
}

.slider li:nth-child(2) label {
  left: 40px;
}

.slider li:nth-child(3) label {
  left: 70px;
}

.slider img {
  opacity: 0;
  visibility: hidden;
}

.slider li input:checked img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.header--bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.918)), to(rgba(0, 0, 0, 0.349))), url("../../Img/Curso-de-Teologia.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.918), rgba(0, 0, 0, 0.349)), url("../../Img/Curso-de-Teologia.jpg");
  min-height: 87vh;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.experiencia {
  margin: 0;
  background-color: #dee2e6;
  height: 250px;
}

.tituloex {
  margin: 0;
  padding: 5px;
  text-align: center;
  font-size: "Source Sans Pro", sans-serif;
  border-bottom: 1px solid #BDBDBD;
}

.experiencia p {
  padding: 5px 100px;
  text-align: center;
  font-size: "Source Sans Pro", sans-serif;
  margin: 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16px;
  max-width: 800px;
  margin: 160px auto 60px;
  padding: 0 10px 10px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

input {
  width: 770px;
  height: 30px;
  padding: 10;
}

textarea {
  width: 770px;
  height: 120px;
  line-height: 20px;
}

legend {
  font-size: 30px;
  font-weight: bold;
  border: none;
}

fieldset {
  border: none;
}

.enviar input {
  background-color: #069;
  height: 50px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.enviar input:hover {
  background-color: #2381e6;
}

.contato-gerais {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.contatos a {
  font-size: 50px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

.hr-funcionamento {
  padding-left: 10px;
  border-left: solid 1px black;
}

.google-map iframe {
  height: 300px;
  width: 770px;
  margin: 5px 0px 5px 300px;
  border: none;
}

.layout {
  display: -moz-box;
  max-width: 800px;
  padding: 5px;
  margin: 160px auto;
}

.layout div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  margin: 10px;
}

.layout div a img {
  width: 200px;
}

.artigo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  background-color: #dee2e6;
}

.artigo p {
  margin: 2rem;
  text-align: justify;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.artigo img {
  height: 200px;
  border-radius: 10px;
}

/* Marcos Del Rei*/
.artigo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-radius: 5px;
  background-color: lightgray;
}

.artigo2 p {
  margin: 2rem;
  text-align: justify;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.artigo2 img {
  height: 200px;
  border-radius: 10px;
}

/* Marcelo Dantas*/
.artigo3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  background-color: #dee2e6;
}

.artigo3 p {
  margin: 2rem;
  text-align: justify;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.artigo3 img {
  height: 200px;
  border-radius: 10px;
}

/* Tarcisio*/
.artigo4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-radius: 5px;
  background-color: lightgray;
}

.artigo4 p {
  margin: 2rem;
  text-align: justify;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.artigo4 img {
  height: 200px;
  border-radius: 10px;
}

.diretoria {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Pr Sérgio Bernades */
.artigo5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  background-color: #dee2e6;
}

.artigo5 p {
  margin: 2rem;
  text-align: justify;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.artigo5 img {
  height: 200px;
  border-radius: 10px;
}

/* Francisco de Assis*/
.artigo6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-radius: 5px;
  background-color: lightgray;
}

.artigo6 p {
  margin: 2rem;
  text-align: justify;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.artigo6 img {
  height: 200px;
  border-radius: 10px;
}

/* Pr Francisco Lourenço */
.artigo7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  background-color: #dee2e6;
}

.artigo7 p {
  margin: 2rem;
  text-align: justify;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.artigo7 img {
  height: 200px;
  border-radius: 10px;
}

.tagenda h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #18497c;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
}

.rtable {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.rtable th, .rtable td {
  padding: 7px 0;
}

.rtable thead {
  background: #18497c;
  font-weight: bold;
  color: #ffffff;
}

.rtable tbody tr :nth-child(1n) {
  background: #dee2e6;
}

.rtable tr td:hover {
  background-color: #cccccc;
}

@media screen and (max-width: 480px) {
  .content {
    width: 94;
  }
  .content .rtable thead {
    display: none;
  }
  .content .rtable tbody td {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 1200px) {
  .content {
    width: 80%;
  }
  .rtable tbody tr td:nth-child(1) {
    width: 10%;
  }
  .rtable tbody tr td:nth-child(2) {
    width: 10%;
  }
  .rtable tbody tr td:nth-child(3) {
    width: 20%;
  }
  .rtable tbody tr td:nth-child(4) {
    width: 30%;
  }
  .rtable tbody tr td:nth-child(5) {
    width: 30%;
  }
}

.campo {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */