.header--bgc {
    background-image: linear-gradient(rgba(255, 255, 255, 0.918),
    rgba(0, 0, 0, 0.349)),
    url('../../Img/incrições.jpg');
    min-height: 87vh;
    height: 50vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.cards {
    display:flex;
    flex-wrap: wrap;
    max-width: 900px;
    padding: 50px;
    margin: 150px auto;
    text-align: center;
    box-shadow:  4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.cards div {
    flex: 1 1 200px;
    margin: 20px;
    border-right: solid 1px grey;
    border-bottom: solid 1px grey;
    transition: 1s;   
}
.cards div:hover {
    transform: scale(1.2);
}

.cards div a img {
    width: 150px;
}

