.rodape {
    background-color: #18497c;
    line-height: 2.20;
    color: #ffffff;
    padding: 20px;
}

.rodape2{
    display: flex;
    // flex-flow: row wrap;
    // justify-content: space-between;
    // align-items: center;
    // margin: 0 auto;
    // max-width: 1200px;
 }

.rodape3 {
    display: flex;
}

.rede-sociais {
    display: flex;
    flex-wrap: inherit;

}

.rede-sociais a {
    padding: 10px;
}
.rede-sociais img {
    width: 25px;
}

.rede-sociais img:hover {
    background-color: rgb(35, 129, 230);
    cursor: pointer;
}