.rodape {
    clear: both;
    bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #18497c;
    line-height: 2.20;
    color: #ffffff;
}

.rede-sociais {
    display: block;
}

.rede-sociais a {
    padding: 10px;
}

.rede-sociais img:hover {
    background-color: rgb(35, 129, 230);
    cursor: pointer;
}