.banner_principal img {
    margin: 0;
    position: relative;
    width: 100%;
    
}

.experiencia {
    margin: 0;
    background-color: #dee2e6;
    height: 250px;
}

.tituloex {
    margin: 0;
    padding: 5px;
    text-align: center;
    font-size: $font-family;
    border-bottom: 1px solid #BDBDBD;
}

.experiencia p {
    padding: 0px 25px;
    text-align: center;
    font-size: $font-family;
    margin: 0;
}

