.header--bgs {
    background-image: url('../../Img/Inscreva-se/inscrições2.png');
    // min-height: 87vh;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 135px;    
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    font-size: 16px;
    max-width: 800px;
    margin: 40px auto 60px;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    box-shadow:  4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.formulario, .campo > input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}