
@mixin flex($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin button($pd-y, $pd-x, $bg, $transform, $size) {
    padding: $pd-y $pd-x;
    background: $bg;
    text-transform: $transform;
    font-size: $size;
    color: $cor-branca;
}

@mixin title($tamanho, $transform, $color) {
    font-size: $tamanho;
    text-transform: $transform;
    color: $color;
}

@mixin borda {
    border-bottom: solid 1px $cor-branca;
}