.nav {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba($color: #ffffff, $alpha: 0);
  transition: 0.3s all;
}

.nav--bg {
  background: white;
  z-index: 9999;
}

.flex--nav {
  @include flex(center, space-between);
}

.container--menu {
  width: 76%;
}

.logo--nav {
  width: 180px;
  margin-right: 35px;
}

.menu li {
  padding: 0 15px;
  color: $cor-fonte-azul;
  font-weight: 600;
  text-transform: uppercase;
  font-size: $fonte-padrao;
  margin: 0;
}

.btn {
  background-color: $cor-btn;
  padding: 15px 25px;
  color: $cor-branca;
  font-size: $fonte-btn;
  font-weight: 600;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.281);
  text-transform: uppercase;
}

.btn:hover {
  background-color: rgb(35, 129, 230);
}
