  

// cores
$cor-principal: #1d1819;
$cor-branca: #fff;
$cor-fonte-azul: #18497C;
$cor-fundo-cinza: #F0F0F0;
$cor-btn: #18497C;


// tamanhos de fontes
$fonte-titulo-principal: 180px;
$fonte-subtitulo-principal: 20px;
$fonte-padrao-large: 20px;
$fonte-btn: 18px;
$fonte-padrao: 16px;
$fonte-subtitulo: 30px;
$fonte-section: 38px;
$fonte-rodape: 12px;

$fonte-padrao-mobile: 16px;

// fontes
$font-family: 'Source Sans Pro', sans-serif;

// breakpoint
$mobile: 420px;

